<ul>
	<li>
		<p>Company</p>
	</li>
	<li>
		<p>Address</p>
	</li>
	<li>
		<p>Postal code and city</p>
	</li>
	<li>
		<p>Phone number</p>
	</li>
	<li>
		<p>
			Email: <a href="mailto:account@domain.com">account@domain.com</a>
		</p>
	</li>
</ul>
